<footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <div class="footer responsive">
       <p class="h6"> &copy;2023 Task master. All right reserved.</p>
        
        
        <a class="social-icon" href="https://twitter.com/EmmaOchogwu" target="_blank">
            <ion-icon class="icon" name="logo-twitter"></ion-icon>
        </a>
        <a class="social-icon" href="https://www.linkedin.com/in/ochogwu-emmanuel-a85b25234" target="_blank">
            <ion-icon class="icon" name="logo-linkedin"></ion-icon>
        </a>
        <a class="social-icon" href="https://github.com/EmmanuelEmp" target="_blank">
            <ion-icon class="icon" name="logo-github"></ion-icon>
        </a>       
       
    </div>
</footer>
