  
<div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/api/todo">To Do List</a></li>
            <li class="breadcrumb-item active">Edit Task</li>
          </ol>
        </nav>
      </div>
    </div>
   
  </div>
  
  <form action="/api/todo/add" method="POST">
  
    <div class="row form-group mb-4">
      <div class="col">
        <label for="task">Task</label>
        <input type="text" class="form-control" id="task" name="task" value="" placeholder="Add a new task here" required>
      </div>
    
      <div class="col">
        <label for="task">Start Task</label>
        <input type="text" class="form-control" id="start" name="start" value="" placeholder="Begin task" required>
      </div>
    </div>
    <div class="col"> 
      <label for="task">End Task</label>
      <input type="text" class="form-control" id="stop" name="stop" value="" placeholder="Completion time" required>
    </div>
  </div>
    <div class="form-group mb-4">
      <button type="submit" class="btn btn-primary">Add Task</button>
    </div>